
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                Chúng tôi đã nhận được đơn hàng của Quý khách. Vui lòng kiểm tra email
                và xác nhận thông tin đơn hàng.
            </div>
        </div>
    </div>
</div>
