@model WebApplication5.Models.ProductIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (Model.Products != null && Model.Products.Count() > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Trang chủ</h1>
                    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach(var product in Model.Products)
            {
            <div class="col-12 col-md-4 mb-4">
                @Html.Partial("_ProductSummary", product)
            </div>
            }
        </div>
    </div>
}
else 
{
    <div>
        Không có sản phẩm nào
    </div>
}